
/*------------------------------------*\
	#HEADER
\*------------------------------------*/


.header-front{
	width: 100%; height: 60px;
	background: @light;
	position: fixed; top: 0; left: 0;
	z-index: @zIndex-10;
	.transition();
}
.header-wrapper--fixed{ background: rgba(255, 255, 255, 0.5); }
.header-wrapper--fixed .header{ margin-top: (@unidad/2); margin-bottom: (@unidad/2); }


.bg-logo-wrapper--logo-dame-flores{
	.img-retina('images/logo-dame-flores.png', 'images/logo-dame-flores@2x.png')
}
.bg-logo-wrapper--logo-dame-flores .bg-logo{ padding-bottom: 49.5%; } // height/width x 100 = X.