/*------------------------------------*\
	#HEADER
\*------------------------------------*/


header{
	width: 100%; height: 60px;
	z-index: @zIndex-10;
	position: absolute; top: 0; left: 0;
}




/*------------------------------------*\
	#HEADER HOME
\*------------------------------------*/

.body-home{

}



/*------------------------------------*\
	#HEADER SINGLE
\*------------------------------------*/

.body-single{

}