.slider{
	background: @grey;
	margin-bottom: @unidad;
}

.sp-wrap{
	display: block !important;
	margin: 0 auto !important;
}

.sp-large{

}

.sp-full-screen{
	background: @dark !important;
	color: @light;
}