
/*------------------------------------*\
	#COVER
\*------------------------------------*/

.cover{
	width: 100%; height: 100vh;
	background: no-repeat center center; background-size: cover;
}

.store__info{
	top: 70%;
	color: @light;
}

.cover img{
	display: block;
	width: 150px;
	border: 2px solid @dark;
}

.scroll-down{
	font-size: 20px;
	color: @light;
}
