/*------------------------------------*\
	#SINGLE
\*------------------------------------*/





/*------------------------------------*\
    #MEDIUM
\*------------------------------------*/
@media (min-width: @medium) {

	.product__info{
		width: 33.33333332%; height: 100%;
		padding: @unidad 0;
		background: @grey;
		float: left;
		overflow-y: scroll;
	}

}
